header{
    width: 100vw;
    height: 250px;
    /*background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Canis_lupus_265b.jpg/800px-Canis_lupus_265b.jpg');
    */
    background-image: url(../resource/bg/bg1.png),url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Canis_lupus_265b.jpg/800px-Canis_lupus_265b.jpg');
    background-size:  100px cover;
    background-repeat: no-repeat;
    background-position: 50px 100px,0px 0px;
}